$radius:8px;
$darkGreen:rgb(18, 79, 37);
$lightGreen:rgb(14, 120, 76);

.navbar{

    align-items: center;
    background-color: $darkGreen;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.1rem;
    position: sticky;
    z-index: 100;

    .title{
        display: flex;
        align-items: center;

        img{
            padding: 0 15px;
            width: 50px;
        }

        h1{
            padding: 0;
            margin: 0;
        }
    }

    .links{
        display: flex;
        font-weight: 500;
        justify-content: space-around;
        position: relative;
        text-transform: uppercase;
        width: 50%;

        span{
            margin: 5px;
            cursor: pointer;
        }
    }
    
    a{
        color: white;
        text-decoration: none;            
    }
}

.login-form{
    // background-color: $darkGreen;
    backdrop-filter: blur(5px);
    border: 1px solid $darkGreen;
    border-radius: 0 0 $radius $radius;
    display: flex;
    justify-content: center;
    padding: 15px;
    position: absolute;
    right: 15px;
    top: -40px;
    transition: .5s ease-in-out;
    width: 200px;
    z-index: -1;

    &[data-active=true]{
        transform: translateY(90px);
        z-index: 1;
    }


    input{
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
    }
}